 <meta charset="UTF-8">
  <form>
  <div class="row center-align">  
		          <div class="card">		        		        
		            <div class="card-content">
		            <div class="card-image">
		            <h3>Produto Estoque</h3> 
		            </div>	<br><br>
		             <div class="row" ng-init="estoqueCtrl.listar()">
					        <div class="input-field col s6">
					          <input id="busca" type="text" ng-model="busca" class="validate">
					          <label for="busca">Buscar</label>
					        </div>
					     </div>
				            <table class="highlight bordered">
						        <thead>
						          <tr>
						              <th data-field="id">Produto</th>
						              <th data-field="id">Quantidade</th>
						              <th data-field="id">Localização</th>
						            	<th data-field="id">Valor Total</th>
						          </tr>
						        </thead>						
						      	<tbody ng-repeat="estoque in estoqueCtrl.listarEstoques | filter : busca">
						          <tr>
						            <td>{{estoque.produto.descricao}}</td>
						            <td>{{estoque.quantidade}}</td>
						            <td>{{estoque.localizacao}}</td>
						           	<td>{{estoque.valorTotal}}</td>
						           <td><button ui-sref="estoque.editar({idEstoque : estoque.id })"><i class="tiny material-icons">mode_edit</i></button></td>
						          </tr>						          
						        </tbody>
						   </table>	            
		         </div>
        </div>
     </div>
</form>