<meta charset="UTF-8">
<form  ng-submit="estoqueCtrl.submit()">
  <div class="row center-align">  
		          <div class="card">		        		        
		            <div class="card-content">
		            <div class="card-image">
		            <h3>Estoque</h3> 
		            </div>	<br><br>		          
					  <div class="row" >
					  		
						 <div class="input-field col s6" ng-controller="produtoController as produtoCtrl" ng-init="produtoCtrl.listar()">
						  <select class="browser-default" ng-model="estoqueCtrl.estoque.produto" 
								ng-options="produto.descricao for produto in produtoCtrl.listarProdutos"  >
								<option value="">{{estoqueCtrl.estoque.produto.descricao}}</option>
							</select>
							</div>
						
						
						
						<div class="input-field col s6"  ng-controller="categoriaController as categoriaCtrl"  ng-init="categoriaCtrl.listar()">
						  <select class="browser-default" ng-model="estoqueCtrl.estoque.categoria" 
								ng-options="categoria.descricao for categoria in categoriaCtrl.listarCategorias"  >
								<option value="">{{estoqueCtrl.estoque.categoria.descricao}}</option>
							</select>
							</div>
						
						
						<div class="input-field col s6">
					          <input id="estoque" type="text" ng-model="estoqueCtrl.estoque.quantidade" class="validate">
					          <label for="estoque">Quantidade</label>
					        </div>
					        <div class="input-field col s6">
					        	<input id="estoque" type="text" ng-model="estoqueCtrl.estoque.localizacao" class="validate">
					        	<label for=estoque>Localização </label>
					        </div>
					        <div class="input-field col s6">
					        	<input id="estoque" type="text" ng-model="estoqueCtrl.estoque.valorTotal" class="validate">
					        	<label for=estoque>Valor Total </label>
					        </div>
					        </div>
					         <br>
					        <div class="row">					       
					        <button class="btn blue-effect blue" type="submit" name="action">Salvar
							    <i class="material-icons right">send</i>
							  </button>
		            </div>		            
		          </div>
		        </div>
 
		 </div>		
 </form>
<br><br><br><br>
