
<footer class="page-footer blue darken-4"">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Controle de estoque</h5>
				<p class="grey-text text-lighten-4">Sistema para controle de estoque</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Contato</h5>
				<ul>
					<li>
    				<h6 class="white-text">Eduardo Ferrari</h6>
  					</li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Copyright Text <a class="grey-text text-lighten-4 right">MIT License</a>
		</div>
	</div>
</footer>

