<meta charset="UTF-8">
<div class="navbar-fixed">
	 <nav>         
 
    <div class="nav-wrapper blue lighten-1" ng-controller="IndexController" >
       
      <ul class="left hide-on-med-and-down">
      <li><a  ng-click="toggleSidenav('left')"><i class="material-icons">menu</i></a></li>
        <li><a ui-sref ="categoria.cadastrar">Categoria</a></li>
        <li><a ui-sref ="produto.cadastrar">Produto</a></li>  
        <li><a ui-sref ="estoque.cadastrar">Estoque</a></li>         
      </ul>
      <a ui-sref="home" class="brand-logo center">Controle de Estoque</a>
    </div>
    
    </div>
   
  </nav>
  


   
</div>


