
<meta charset="UTF-8">
<form>
	<div class="row center-align">
				<div class="card">
					<div class="card-content">
						<div class="card-image">
							<h3>Categoria</h3>
						</div>
						<br>
						<br>
						<div class="row" ng-init="categoriaCtrl.listar()">
							<div class="input-field col s6">
								<input id="busca" type="text" ng-model="busca" class="validate">
								<label for="busca">Buscar</label>
							</div>
						</div>
						<table class="highlight bordered">
							<thead>
								<tr>
									<th data-field="id">Descrição</th>
								</tr>
							</thead>
							<tbody
								ng-repeat="categoria in categoriaCtrl.listarCategorias | filter : busca">
								<tr>
									<td>{{categoria.descricao}}</td>
									<td><a
										ui-sref="categoria.editar({idCategoria : categoria.id })"><i
											class="tiny material-icons">mode_edit</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
</form>