 <meta charset="UTF-8">
  <form>
  <div class="row center-align">  
		          <div class="card">		        		        
		            <div class="card-content">
		            <div class="card-image">
		            <h3>Produto</h3> 
		            </div>	<br><br>
		             <div class="row" ng-init="produtoCtrl.listar()">
					        <div class="input-field col s6">
					          <input id="busca" type="text" ng-model="busca" class="validate">
					          <label for="busca">Buscar</label>
					        </div>
					     </div>
				             <table class="highlight bordered">
						        <thead>
						          <tr>
						              <th data-field="id">Descrição</th>
						              <th data-field="id">Preço</th>
						              <th data-field="id">Categoria</th>
						          </tr>
						        </thead>						
						      	<tbody ng-repeat="produto in produtoCtrl.listarProdutos | filter : busca">
						          <tr>
						            <td>{{produto.descricao}}</td>
						           <td>{{produto.preco}}</td>
						           <td>{{produto.categoria.descricao}}</td>
						           <td><button ui-sref="produto.editar({idProduto : produto.id })"><i class="tiny material-icons">mode_edit</i></button></td>
						          </tr>						          
						        </tbody>
						   </table>	            
		         </div>
        </div>
     </div>
</form>